# Ignore .venv folders
.venv/

# Ignore __pycache__ directories
__pycache__/

# Ignore temporary files
*.tmp
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
